* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

input {
  padding: 8px;
  font: inherit;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

.gallery {
  display: flex;
  list-style: none;
}

.gallery_item {
  flex-basis: content;
  margin: auto;
  width: max-content;
}
.gallery_image {
  width: 90%;
  height: 90%;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border: 1px solid black;
  font-weight: bold;
}
